body {
    background-color: #2f2f2f;
    color: white;
    text-align: center;
}

* {
    font-family:
        "JetBrainsMono NFM", "JetBrainsMono", "Fira Code", "Source Code Pro", "Courier New",
        Courier, monospace;
}

header {
    display: block;
    background-color: #3f3f3f;
    border-radius: 8px;

    & * {
        margin: 1px 0px;
        padding: 1px 5px;
    }

    padding: 3px 0;
    text-align: left;
}

div {
    display: block;
    unicode-bidi: isolate;
}

div.left {
    text-align: left;
}

div.right {
    text-align: right;
}

.context {
    background-color: #3e3e3e;
    border-radius: 5px;
    padding: 8px 15px;

    margin: 0px 2%;

    /* text-align: justify; */
    text-align: left;
}

a {
    color: #51cece;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        background-color: #4f4f4f;
        border-radius: 5px;
    }

    &.now {
        text-decoration: overline;
    }

    &.title {
        color: white;
    }
}

code,
.code {
    background-color: #333;
    padding: 0px 5px;
    text-align: left;
}

.padding-h {
    padding: 1px 10px;
}

i {
    color: #9f9f9f;
}

div.gridbox {
    display: grid;
    grid-template-columns: auto auto;
}

dl * {
    text-align: left;
}

button,
.btn {
    background-color: #333;
    color: white;
    border-radius: 5px;
    border-color: cyan;
    padding: 3px 10px;
}

table {
    border-collapse: collapse;
    margin: 10px auto;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3f3f3f;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #3e3e3e;
}

tr:hover {
    background-color: #4f4f4f;
}

td {
    position: relative;
}

td::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #51cece, #51cece);
    opacity: 0.2;
    transition: opacity 0.3s ease;
}

td:hover::after {
    opacity: 0.4;
}
